doctype html
html
    head
        title IARC-Simulation
        link(href='css/style.css', rel='stylesheet')
        link(href='css/bower.css', rel='stylesheet')
        script(src='js/bower.js')
        script(src='js/app.js')
        
    body
        canvas#renderCanvas
