doctype html
html
    head
        title IARC-Simulation
        link(href='./css/style.css', rel='stylesheet')
        link(href='./css/_bower.css', rel='stylesheet')
        script(src='./js/_bower.js')
        script(src='./js/_app.js')
        
    body
        canvas#renderCanvas
